<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login - LiMS-L!</title>
  </head>
<body>
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsla(0, 1%, 73%, 0.372)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              LiMS-L<br />
              <h2 class="text-primary">Library Management System</h2>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">

            <form class="form-floating">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <label style="color:red">{{ message }}</label>
                    {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
              </form>

            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                  <!-- Username input -->
                  <div class="form-outline mb-4">
                    {{ form.username(class="form-control") }}
                    {{ form.username.label(class="form-label") }}
                    {% for error in form.username.errors %}
                    <span style="color: rgb(29, 34, 193);">[{{ error }}]</span>
                    {% endfor %}
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    {{ form.password(class="form-control") }}
                    {{ form.password.label(class="form-label") }}
                    {% for error in form.password.errors %}
                    <span style="color: rgb(29, 34, 193);">[{{ error }}]</span>
                    {% endfor %}
                  </div>

  
                  <!-- Submit button -->
                  {{ form.submit(class="btn btn-primary btn-block mb-4", value="Login") }}




                  <a type="button" style="float: right; color: rgb(43, 108, 206)" data-toggle="modal" data-target="#exampleModal">
                    forgot password?
                  </a>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Notice!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            Please contact the Librarian for assistance.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>






                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>